[Desktop Entry]
Version=1.0
Type=Application
Name=Instalador do TigerOS 23.1
Exec=os-install
Icon=tigerInstall
Categories=System;
Terminal=false
StartupNotify=false
