[Desktop Entry]
Version=1.0
Type=Application
Name=Instalador do TigerOS 23
Exec=os-install
Icon=/usr/share/pixmap/tigerInstall.png
Categories=System;
Terminal=false
StartupNotify=false
